.footer__column-link {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    line-height: 18px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: opacity .1s ease-in-out;
}

.footer__column-link:hover {
    opacity: .6;
}

.footer__column-link:first-of-type {
    margin-top: 20px;
}