.feynman {
    box-sizing: border-box;
    padding-top: 100px;
    width: 100%;
    min-height: 890px;
    background-color: #f2f2f2;
    background-image: url(../../images/feynman.png);
    background-position: 5% 100%;
    background-repeat: no-repeat;
    background-size: 867px 637px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}