.kaufman {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    padding: 90px 0;
    width:  100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }